*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: Arial, Helvetica, sans-serif;
}

.overlay{
	padding-top: 50px;
	background-color:Coral;
	text-align: center;
  position:fixed;
	width:100%;
	height:100%;
  top: 0;
  left: 0;
}

header {
	margin-top:0px;
  background-color: SeaGreen;
  color: white;
}

.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
}


/*----------------Flex-----------------*/

.flex{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

div h1 {
	flex: 0 0 50%;
  font-size: 64px;
	align-self: center;
	text-align: center;
}

.flexbanner {
	flex: 0 0 25%;	
	align-self: flex-end;
}

.flexbanner img {
	max-width: 100%;
}

/*----------------Shopping Cart-----------------*/


.dropdown {
	flex: 0 0 25%;
  text-align: right;  
	overflow: hidden;
	align-self: flex-end;
}

.dropdown .dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.carttext {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*----------------Check out button-----------------*/

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 220, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.changed {
	margin-left: 20px;
  border-radius: 50%;
	width: 35px;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background-color: Coral;
	background-image: linear-gradient(to top left,
										rgba(0, 0, 0, .2),
										rgba(0, 0, 0, .2) 30%,
										rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
							inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.changed:hover {
    background-color: rgba(255, 0, 0, 1);
}

.changed:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.checkout {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 220, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.checkout:hover {
    background-color: rgba(0, 150, 0, 1);
}

.checkout:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}



/*----------------Side bar-----------------*/


ul.nav {
  font-size: 24;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

ul.nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.nav li a.active {
  background-color: CadetBlue;
  color: white;
}

ul.nav li a:hover:not(.active) {	
  background-color: DarkSlateGrey;
  color: white;
}

ul.product {
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 15%;
  width: 80%;
	height:100%;
  overflow: auto;
}

ul.product li{
  margin-left:10px;
  margin-bottom: 5px;
  float:left;  
	width:30%;
	height:30%;
  text-align:center;
}

ul.product li img{
  height: 370px;
}

/*----------------footer admin panel-----------------*/


.footer a:link {
  color: transparent;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
.footer a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.footer a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

/*----------------info and news-----------------*/


div.productArea{
	padding-left: 15%;
	margin-left: 15px;
	text-align: center;
}

article{
	padding-left: 15%;
	margin: 15px 15px;
}

article h2{
	font-size: 24px;
	margin: 10px 0px 10px;
}

ul.info {
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 15%;
  width: 80%;
	height:100%;
  overflow: auto;
}

ul.info li{
  margin-left:10px;
  margin-bottom: 5px;
  float:left;  
	width:40%;
	height:30%;
  text-align:center;
}

ul.info li img{
  height: 370px;
}

news{
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 15%;
  width: 80%;
	height:100%;
  overflow: auto;
  float:left;  
}

